h1, .h1 { margin: 0.5em; font-size: 300%; font-weight: 500; letter-spacing: -2px; line-height: 1.2em }

h2, .h2 { margin: 0.5em; font-size: 250%; font-weight: 500; letter-spacing: -1px; line-height: 1.2em }

h3, .h3 { margin: 0.5em; font-size: 200%; font-weight: 500; line-height: calc(200% * 1.2) }

h4, .h4 { margin: 0.5em; font-size: 180%; font-weight: 500; line-height: calc(180% * 1.2) }

h5, .h5 { margin: 0.5em; font-size: 130%; font-weight: 500; line-height: calc(130% * 1.2) }

.h1,
.h2,
.h3,
.h4,
.h5 {
  margin: 0;
}

@mixin secondary {
  font: bold 32px/1 "Blanch"
}

body {
  font: normal normal 300 30px/150% 'Campton', Helvetica, sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
