nav.app-nav,
nav.sub-nav {
  position: fixed;
  background: $blue;
  left: 0;
  top: 0;
  width: 230px;
  height: 110px;
  color: $w;
  padding: 42px 30px;
  box-sizing: border-box;
  z-index: 100;

  @include small {
    width: 100%;
    height: 70px;
    padding: 22px 20px;
  }
}

nav.app-nav {
  #logo {
    float: left;
    cursor: pointer;
  }

  .menu-btn::after {
    content: '';
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 65px;
    height: 100%;
  }

  #menu {
    float: right;
    cursor: pointer;
  }
}

nav.sub-nav {
  z-index: 99;
  background-color: darken($blue, 10%);
  width: auto;
  left: 230px;
  transform: translate3D(-100%, 0, 0);
  transition: 0.3s transform ease;
  @include secondary;
  line-height: 23px;
  vertical-align: top;
  padding: 0 30px;

  a,
  p {
    padding: 20px 26px;
    display: inline;
    line-height: 110px;
    vertical-align: middle;
  }

  img {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    margin-right: -12px;
    border-radius: 100px;
  }

  p {
    opacity: .6;
  }

  @include not-small {
    &.peak {
      transform: translate3D(-95%, 0, 0);
    }
  }

  &.open {
    transform: translate3D(0, 0, 0);
  }

  @include small {
    left: 0;
    top: 70px;
    width: 100%;
    height: auto;
    text-align: center;
    transform: translate3D(0, -100%, 0);
    padding: 30px;

    a,
    p {
      line-height: 24px;
    }

    a {
      display: block;
    }

    p {
      line-height: 60px;
    }
  }
}
