.module--home {
  background: $yellow asset-url('default_module.png') no-repeat center center;
  background-size: cover;
  background-blend-mode: soft-light;

  p {
    font-weight: 500;
  }

  .module__half--dark {
    background-color: rgba(red, .1);
  }
}

.module.loading {
  background: $yellow asset-url('default_module.png') no-repeat center center;
  background-size: cover;
  background-blend-mode: soft-light;
  text-align: center;
  @include secondary;
}
