module-title {
  position: absolute;
  left: 0;
  bottom: -35px;
  height: 30px;

  h6 {
    @include secondary;
    font-size: .9em;
    margin: 10px 0;
    border-bottom: 2px solid black;
    padding-bottom: 3px;

    &::before {
      content: attr(rel);
      position: absolute;
      left: -50px;
      border-bottom: 2px solid black;
      padding-bottom: 3px;
      color: #7B7B7B;
      width: 50px;
      text-align: left;
    }
  }

  @media (max-width: 600px) {
    left: 50px;
  }
}
